/* 【CSS代码】 */

/* 【垂直居中】 */
.views {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 【按钮圆角】 */
.button {
    color: rgb(255, 255, 255);
    background: rgb(15, 136, 235);
    border-radius: 999999px;
    font-size: 18px;
    font-weight: 700;
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-left: -120px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    margin: 10px 0;
}

/* 【全屏铺满】 */
.mainlay {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.09) 74%, rgba(0, 156, 238, 0.3));
    position: relative;
}

/* 【图片旋转】 */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 【logo尺寸】 */
.rotating-svg {
    animation: rotate 5s linear infinite;
    margin: auto;
    /* 根据你的需要调整大小 */
    width: 66px;
    height: 66px;
}


/* 【随机图-圆角框】 */
#coverContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.002), 0 6px 12px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    border-radius: 20px;
    /* 添加圆角 */
    overflow: hidden;
    /* 确保圆角应用于内容 */
    width: 90%;
    /* 容器宽度 */
    max-width: 600px;
    /* 最大宽度 */
    margin: 0 auto;
    /* 居中对齐 */
}

/* 【随机图-尺寸】 */
#coverPic {
    display: block;
    width: 100%;
    height: auto;
    /* 保持宽高比 */
    max-height: 400px;
    /* 最大高度 */
    object-fit: cover;
    /* 保持图片内容的完整性 */
}

/* 【随机图-文案框】 */
#coverTxt2 {
    margin-top: 12px;
    /* 文案上距 */
    padding-bottom: 12px;
    /* 文案下距 */
}

/* 【随机图-居中】 */
.w3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* 全屏高度 */
}